<!-- chat.component.html -->
<p>
  chat works!
  {{component}}
</p>

<div class="chat">

    <!-- ChatProfileComponent -->
    <app-chat-profile
        [user]="chatUser"
        (statusChange)="onStatusChange($event)">
    </app-chat-profile>

    <!-- ChatSearchComponent -->
    <app-chat-search
        [term]="chatTerm"
        (searchChange)="onSearchChange($event)">
    </app-chat-search>

    <!-- ChatListComponent -->
    <app-chat-list
        [friends]="chatFriends"
        (contactSelect)="onContactSelect($event)">
    </app-chat-list>

</div>
